* {
    padding:0px;
    margin:0px;
    text-decoration: none;
    list-style-type: none;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 3px;
}
html,body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bod {
    overflow: hidden;
    display: block;
    padding: 20px;
    width: 90%;
    height: 80%;
    background-color: #749eac;
    border-radius: 20px;
}

.head {
    position: relative;
    font-size: 46px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: antiquewhite;
    width: 100%;
    height: 100px;
}
.aft {
    border-radius: 40px;
    position:absolute;
    width: 50%;
    height: 100%;
    background: #000;
    top: 0%;
    left: 0%;
    z-index: 0;
    /*animation: dec 2s infinite linear alternate;*/

}

.head h1 {
    z-index: 1;
}

main {
    display: flex;
    width: 200%;
    height: 87%;
    flex-direction: row;
    transition: all .5s linear;
}
.cod,.decod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 38px;
    width: 50%;
    height: 100%;
    
}
textarea {
    font-size: 4rem;
    background: steelblue;
    outline: none;
    border: none;
    resize:none;
    height: 30%;
    width: 80%;
}
input {
    font-family: 900;
    letter-spacing: 50px;
    font-size: 40px;
    width: 80%;
    height: 20%;
    background-color: #1dc2e7;
}


.cod {
    
    border-right: 2px #fff solid;
}

.decod {
    border-right: 1px #fff solid;
}

.head h1:hover {
    text-decoration:underline;
}
@keyframes dec {
    0% {

    }
    50% {
        left: 40%;
        width: 20%;
    }
    100%{
        left: 50%;
    }
}
@keyframes cry {
    0% {
        left:50%;
    }
    50% {
        left: 40%;
        width: 20%;
    }
    100%{
        left: 0%;
    }
}


